VITE_SUPABASE_URL=https://wgctymduwrrdxmxvtsov.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndnY3R5bWR1d3JyZHhteHZ0c292Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI3Mjg0NTMsImV4cCI6MjA4ODMwNDQ1M30.3zNMVtZvtxxwPaZXsvihVatXjbHHpL2CquIt7FTWHO0
SUPABASE_SERVICE_ROLE_KEY=
